@media(max-width: 1170px) {
    .mockup {
        width: 428px;
        height: 400px;
        right: -44px;
    }
}
@media(max-width:1100px) {
    .wrapper {
        max-width: 900px;
    }
}
.head {
    flex-wrap: wrap;
    justify-content: center;
    padding: 23px 40px 23px;
}
.nav {
    margin-top: 28px;
}
.box-item {
    padding: 60px 30px 60px;
}


/* Laptop */
@media(max-width:992px) {
    .wrapper {
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
    }
    .header {
        padding-bottom: 80px;
    }
    .head {
        padding: 23px 40px 16px;
        margin-bottom: 80px;
    }
    nav {
        flex-basis: 100%;
    }
    .nav {
        justify-content: center;
        margin: 19px auto 0;
        flex-wrap: wrap;
    }
    .nav-link, .nav-link.active {
        padding: 6px 10px 9px;
    }
    .nav-item {
        margin-left: 0;
        margin-bottom: 11px;
    }
    .nav.btn-left {
        margin-left: 15px;
    }
    .title p {
        font-size: 16px;
    }
    .title h1 {
        font-size: 35px;
        line-height: 47px;
        max-width: 552px;
    }
    .btn, .btn-blue {
        font-size: 12px;
    }
    .title-h2 {
        font-size: 28px;
    }
    .title-h2 span {
        font-size: 14px;
        margin-bottom: 12px;
    }

    .box-item {
        padding: 15px 0px 10px;

    }
    .box-text {
        margin: 0 auto;
    }
    .box-stat h3 {
        font-size: 35px;
    }
    .mockup {
        width: 388px;
        height: 346px;
        right: 15px;
    }
    .foto {
        flex-wrap: wrap;
    }
    .foto-item {
        flex-basis: 50%;
        height: 250px;
    }
    .foto-item:last-child, .grid-item:last-child, .mockup {
        display: none;
    }
    .grid {
        grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr;
    }
    .team {
        flex-wrap: wrap;
    }
    .team-item {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    .team-thumb {
        margin: 0 auto 15px;
    }
    .team-thumb, .team-thumb img {
        height: 200px;
        width: 200px;
    }
    .team-social {
        margin-top: 11px;
    }
    .icon {
        font-size: 40px;
    }
    .blog {
        grid-template: 1fr 1fr 1fr 1fr / 1fr;
    }
    .footer-text {
        flex-direction: column;
    }
}
/* Планшет */
@media(max-width:978px) {
    .nav-top {
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 0;
    }
    .info {
        margin-top: 0;
    }
    .page-line {
        border-bottom: none;
    }
    .box {
        flex-direction: column;
        border-left: none;
        border-right: none;
    }
    .box-item {
        padding: 20px 30px 20px;
        border-bottom: 1px solid #e4e4e4;
    }
    .box .box-icon {
        display: none;
    }
    .box-item-center {
        border-left: none;
        border-right: none;
    }
}
/* Смартфоны */
@media(max-width:576px) {
    body {
        width: 100%;
    }
.title h1 {
    font-size: 24px;
    line-height: 35px;
    max-width: 418px;
    }
.head {
    padding: 8px 40px 8px;
    margin-bottom: 11px;
}
.nav {
    justify-content: center;
    margin: 12px auto 0;
    flex-wrap: wrap
}
.nav-item {
    margin-bottom: 6px;
}
.nav-link, .nav-link.active {
    padding: 0px 10px 3px;
}
.title p {
    font-size: 14px;
}
.element-top {
    margin-bottom: 16px;
}
.element {
    height: 53px;
}
.element-bottom {
    margin-top: 16px;
}
.box-text {
    margin: 0 auto;
}
.box-icon-min {
    width: 70px;
    height: 70px;
    font-size: 17px;
    background-size: 70px 70px;
    flex-basis: 70px;
}
.grid {
    margin-top: 65px;
    margin-bottom: 36px;
    grid-gap: 21px 6px;
}
.grid-line-text {
    flex-basis: calc(100% - 90px);
}
.page-bg {
    padding-top: 50px;
    padding-bottom: 50px;
}
.page-team {
    padding-top: 40px;
    padding-bottom: 40px;
}
.title-h2 span {
    font-size: 13px;
    margin-bottom: 9px;
}
.title-h2 {
    font-size: 23px;
}
.page-team .description {
    margin-top: 16px;
}
.team {
    margin-top: 25px;
}
.page-stat {
    padding-top: 50px;
    padding-bottom: 50px;
}
.icon {
    font-size: 30px;
}
.box-stat h3 {
    margin-top: 13px;
    font-size: 25px;
}
.box-stat h3 span {
    font-size: 12px;
    margin-bottom: 6px;
}
.page-blog {
    padding-top: 40px;
}
.blog {
    grid-gap: 15px;
    margin-top: 30px;
    margin-bottom: 0;
}
.thumb-blog {
    width: 225px;
    flex-basis: 225px;
    height: 230px;
}
.blog-share {
    left: 44px;
}
.text-blog {
    padding: 15px 36px 15px;
}
.text-blog ul {
    margin-bottom: 16px;
    font-size: 9px;
}
.text-blog h3 {
    font-size: 16px;
    margin-bottom: 9px;
}
.text-blog p {
    font-size: 14px;
    line-height: 22px;
}
.company {
    margin-left: 25px;
}
.company-items {
    background-size: cover;
    height: 70px;
}
.page-company {
    padding-top: 50px;
    padding-bottom: 50px;
}
.company-one {
    width: 87px;
    flex-basis: 67px;
    background-position: -10px center;
}
.company-two {
    width: 95px;
    flex-basis: 72px;
    background-position: -120px center;
}  
.company-three {
    flex-basis: 57px;
    background-position: -241px center;
}
.company-four {
    width: 90px;
    flex-basis: 70px;
    background-position: -347px center;
}
.company-five {
    width: 121px;
    flex-basis: 52px;
    background-position: -469px center;
}   
.company-six {
    width: 92px;
    flex-basis: 113px;
    background-position: -570px center;
}    
}
@media(max-width:460px) {
    body {
        width: 460px;
    }
.info-item, .info-link {
    font-size: 11px;
}
.logo {
    width: 113px;
}
.head {
    padding: 8px 3px 8px;
    margin-bottom: 11px;
}
.nav {
    justify-content: flex-end;
    font-size: 10px;
}
.nav-item-btn {
    display: none;
}
.page-company {
    padding-top: 25px;
    padding-bottom: 25px;
}
.company {
    margin-left: 84px;
    margin-right: 89px;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}
.company-six {
    flex-basis: 73px;
}
}
/* Iphone 5 */
@media(max-width:320px) {
    body {
        width: 403px;
    }
.info {
    margin-bottom: 8px;
}
.info-left .info-item {
    margin-right: 18px;
}
.info-item, .info-link {
    font-size: 11px;
}
.header {
    padding-bottom: 25px;
}
.head {
    padding: 8px 21px 8px;
}
.logo {
    width: 115px;
}
nav {
    font-size: 11px;
}
.title p {
    font-size: 10px;
}
.btn, .btn-blue {
    font-size: 9px;
}
.btn, .btn-blue {
    padding: 9px 20px;
}
.title {
    margin-bottom: 23px;
}
.title h1 {
    font-size: 14px;
    line-height: 22px;
    max-width: 248px;
    margin-top: 0px;
}
.element {
    height: 35px;
}
.element-top {
    margin-bottom: 10px;
}
.element-bottom {
    margin-top: 10px;
}
.box h2 {
    font-size: 14px;
}
.box-item .description {
    font-size: 12px;
    margin-top: 14px;
    line-height: 19px;
}
.page-mockup {
    margin-top: 50px;
    padding-bottom: 50px;
}
.title-h2 {
    font-size: 16px;
}
.title-h2 span {
    font-size: 10px;
}
.description {
    margin-top: 10px;
    line-height: 24px;
    font-size: 12px;
}
.list-description {
    margin-top: 18px;
    margin-bottom: 32px;
    font-size: 12px;
}
.page-grey {
    padding-top: 24px;
}
.foto-item {
    height: 186px;
}
.grid {
    grid-template: 1fr 1fr 1fr 1fr / 1fr;
    margin-top: 36px;
}
.page-bg {
    padding-top: 25px;
    padding-bottom: 25px;
}
.page-team {
    padding-top: 20px;
    padding-bottom: 20px;
}
.team-thumb, .team-thumb img {
    height: 150px;
    width: 150px;
}
.team-position {
    font-size: 12px;
}
.team-name {
    font-size: 16px;
}
.page-stat {
    padding-top: 25px;
    padding-bottom: 25px;
}
.icon {
    font-size: 20px;
}
.box-stat h3 {
    margin-top: 9px;
    font-size: 18px;
}
.box-stat h3 span {
    font-size: 10px;
    margin-bottom: 6px;
}
.page-blog {
    padding-top: 16px;
}
.blog {
    grid-gap: 10px;
    margin-top: 30px;
    margin-bottom: 0;
}
.thumb-blog {
    width: 160px;
    flex-basis: 160px;
    height: 160px;
}
.blog-share {
    left: 37px;
    top: calc(100% - 33px);
}
.comments, .like {
    height: 21px;
    width: 39px;
    font-size: 10px;
}
.text-blog {
    padding: 8px 21px 15px;
    flex-basis: calc(100% - 204px);
}
.text-blog ul {
    margin-bottom: 14px;
    font-size: 7px;
}
.text-blog h3 {
    font-size: 12px;
    margin-bottom: 9px;
}
.text-blog p {
    font-size: 10px;
    line-height: 14px;
}
.text-blog a span {
    font-size: 12px;
}
.company {
    margin-left: 0px;
}
.company-items {
    background-size: cover;
    height: 60px;
}
.page-company {
    padding-top: 25px;
    padding-bottom: 25px;
}
.company-one {
    background-position: -9px center;
}
.company-two {
    background-position: -102px center;
}  
.company-three {
    background-position: -206px center;
}
.company-four {
    background-position: -297px center;
}
.company-five {
    background-position: -401px center;
}   
.company-six {
    background-position: -488px center;
    flex-basis: 68px;
}    
.btn-footer {
    font-size: 15px;
    width: 28px;
    height: 17px;
}
.footer-bg {
    padding-top: 0px;
    padding-bottom: 0px;
}
.footer-text {
    font-size: 8px;
}
}