body {
    font-family:'Lato';
    font-weight: 400;
    font-size: 16px;
    padding: 0;
    margin: 0;
}
 .header {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    padding-bottom: 214px;
    background-size: cover;
}
.logo {
    width: 158px;
}
.nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info {
    display: flex;
    padding: 0;
    list-style-type: none;
    align-content: center;
}
.info-left .info-item {
    margin-right: 30px;
}
.info-right .info-item {
    margin-left: 6px;
}
.info-link:hover {
    color: #30a3f0;
}
.wrapper {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}
.info-item, .info-link{
    color: rgba(255, 255, 255, 0.3);
    font-size: 14px;
}
.info-link {
    text-decoration: none;
    padding: 0;

}
.info-link svg {
    color: #30a3f0;
    margin-right: 11px;
}
.register::before {
    content: '/';
    margin-right: 6px;

}
.center {
    text-align: center;
}
.nav-item {
    margin-left: 7px;
}
.nav-item-btn {
    margin-left: 21px
}
.nav-link {
    color: #444444;
    text-decoration: none;
    padding: 12px 20px 11px;
    border: 1px solid transparent;
}
.nav-link.active {
    color: #30a3f0;
    border: 1px solid #30a3f0;
    border-radius: 5px;
    padding: 12px 20px 11px;
}
.nav-link:hover {
    color: #30a3f0;
    border: 1px solid transparent;
    border-radius: 5px;
}
.nav-link.active:hover {
    border: 1px solid #30a3f0;
}
.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 25px 40px 25px;
    margin-bottom: 220px;
}
.nav {
    list-style-type: none;
    padding: 0;
    display: flex;
}
.nav-btn {
    background-color: transparent;
    border: none;
    padding: 0;
}
.nav-btn svg {
    color: #444444;

}
.title {
    margin-bottom: 40px;
}
.title p {
    font-family: "Raleway";
    color: #30a3f0;
    font-size: 18px;
}
.title h1 {
    max-width: 711px;
    font-family: "Raleway";
    line-height: 60px;
    font-weight: 800;
    color: #fff;
    font-size: 45px;
    text-transform: uppercase;
    margin: 0 auto;
}
.btn {
    color: #30a3f0;
    text-transform: uppercase;
    border: 1px solid #30a3f0;
    padding: 20px 42px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    transition: 0.4s;
}
.btn:hover {
    background-color: #30a3f0;
    color: #fff;
    /* border: 1px solid #fff; */
}
.box {
    display: flex;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}
.page-line {
    border-bottom: 1px solid #e4e4e4;
}

.box-item {
    flex-basis: 33.333%;
    padding: 93px 60px 110px;
    transition: 0.4s;
}
.box-item-center {
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
}
.box h2 {
    font-family: "Raleway";
    font-size: 600;
    font-size: 20px;
}
.title-h2 {
    font-size: 30px;
    font-weight: 800;
    font-family: "Raleway";
    text-transform: uppercase;
    margin-bottom: 14px;

}
.title-h2 span {
    font-size: 16px;
    color: #30a3f0;
    display: block;
    font-weight: 400;
    text-transform: initial;
    margin-bottom: 20px;
}
.line {
    display: block;
    width: 54px;
    height: 17px;
    background-image: url(../img/Line.svg);
    background-repeat: no-repeat;
}
.line-page-grey {
    display: block;
    background-image: url(../img/Line2.svg);
    background-repeat: no-repeat;
    width: 90px;
    height: 15px;
    margin: 0 auto;
    
}
.element {
    width: 1px;
    height: 100px;
    background-color: #2987c7;
    margin: 0 auto;
}
.element-top {
    margin-bottom: 29px;
}
.element-bottom {
    margin-top: 33px;
}
.description {
    color: #707070;
    margin-top: 27px;
    line-height: 26px;
}
.page-grey .description,
.page-team .description,
.page-blog .description {
    max-width: 686px;
    margin: 0 auto;
    margin-top: 31px;
}
.list-description {
    color: #222222;
    list-style-type: none;
    padding-left: 0;
    margin-top: 40px;
    margin-bottom: 60px;

}
.list-description > li {
    margin-bottom: 27px;
    padding-left: 37px;
    position: relative;
    color: #222222;
}
.list-description > li::before {
    content: '';
    display: block;
    background-image: url(../img/check.png);
    background-repeat: no-repeat;
    background-size: contain;
    color: #30a3f0;
    position: absolute;
    width: 16px;
    height: 14px;
    left: 0;
    top: calc(50% - 7px);
}
.page-grey {
    background-color: #fafafa;
    padding-top: 100px;
}
.mockup {
    background-image: url(../img/mocup.png);
    width: 613px;
    height: 557px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: -78px;
    bottom: 0;
}
.page-mockup {
    margin-top: 100px;
    padding-bottom: 100px;
}
.btn-blue {
    color: #fff;
    background-color: #30a3f0;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid #30a3f0;
    padding: 20px 39px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.4s;
}
.btn-blue:hover {
    background-color: #fafafa;
    border: 1px solid #30a3f0;
    color: #30a3f0;
}
.box-text {
    max-width: 530px;
}
.box-icon {
    width: 152px;
    height: 152px;
    font-size: 40px;
    line-height: 3.5;
    background-image: url(../img/grey.png);
    background-repeat: no-repeat;
    margin: 0 auto 26px;
    background-position: center center;
    color: #222222;
    transition: 0.4s;
}
.box-icon-pen {
    font-size: 30px;
    line-height: 4.8;
}
.box-icon-min {
    width: 96px;
    height: 96px;
    color: #c9c9c9;
    font-size: 24px;
    background-size: 96px 96px;
    flex-basis: 96px;
    line-height: 3.9;
    text-align: center;
    margin: initial;
}
.box-item:hover .box-icon {
    background-image: url(../img/blue.png);
    color: #fff;

}
.grid-line:hover .box-icon-min{
    background-image: url(../img/bg-min.png);
    background-repeat: no-repeat;
    color: #fff;
    
}
.foto {
    display: flex;
    margin-top: 62px;
}
.foto-item {
    overflow: hidden;
    flex-basis: 20%;
    height: 350px;
    position: relative;
    transition: 0.4s;
}
.foto-item img {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    height: 350px;
    z-index: -1;
}
.foto-text {
    position: absolute;
    text-align: center;
    width: 100%;
    top: calc(50% - 30px);
    display: none;
}
.foto-text h3 {
    font-size: 22px;
    font-weight: 600;
    font-family: "Raleway";
    margin-top: 0;
    color: #fff;
    margin-bottom: 14px;
    text-transform: uppercase;
}
.foto-text p {
    color: #707070;
    margin-bottom: 0;
}
.foto-item:hover {
    background-color: rgba(34, 34, 34, 0.8);
    
}
.foto-item:hover .foto-text {
    display: block;
}

.foto-btn {
    position: absolute;
    display: none;
    right: 0;
    bottom: 0;
    transition: 0.4s;

}
.foto-btn a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 61px;
    height: 61px;
    text-align: center;
    color: black;
}
.foto-btn a:hover{
    display: flex;
    background: #30a3f0;
    color: #fff;
    
}
.foto-item:hover .foto-btn {
    display: flex;
}
.grid {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    grid-gap: 70px 50px;
    margin-top: 122px;
    margin-bottom: 126px;
}
.grid h3 {
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 21px;
    margin-top: 0;
}
.grid .description {
    margin-bottom: 0;
}
.grid-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.4s;
}
.grid-line-text {
    flex-basis: calc(100% - 126px);
}
.page-bg {
    background-image: url(../img/bgblock.png);
    background-size: cover; 
    padding-top: 110px;
    padding-bottom: 110px;

}
.page-bg .title {
    margin-bottom: 0;
}
.page-bg .title h1 {
    margin-bottom: 40px;
}
.page-bg .element-bottom {
    margin-top: 53px;
}
.page-team {
    padding-top: 100px;
    padding-bottom: 100px;
}
.team {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 60px;
}
.team-thumb {
    margin-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 370px;
}
.team-thumb img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1;
}
.team-item {
    flex-basis: 32%;

}
.team-item:hover .team-thumb {
    background-color: rgba(255, 255, 255, 0);
}
.team-position {
    color: #30a3f0;
    margin-bottom: 14px;
}
.team-name {
    font-family: "Raleway";
    font-size: 20px;
    font-weight: 600;
    color: #222;
    margin-bottom: 20px;
}
.team-social {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    
}
.team-social-item {
    margin-right: 5px;
    margin-left: 5px;
}
.team-social-item a {
    color: #c9c9c9;
    background-image: url(../img/grey.png);
    background-size: 40px 40px;
    background-position: center center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 2.8;
}
.team-social-item a:hover {
    color: #fff;
    background-image: url(../img/bg-min.png);
    background-size: 40px 40px;
    background-position: center center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}
.screen {
    margin-top: 60px;
}
.page-stat {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding-top: 116px;
    padding-bottom: 114px;
    margin-top: -1.8px;
}
.box-stat {
    display: flex;
    justify-content: space-around;
    
}
.box-stat h3 span {
    color: #707070;
    font-weight: 400;
    font-size: 16px;
    display: block;
    margin-bottom: 24px;
}
.box-stat h3 {
    font-weight: 800;
    font-size: 50px;
    margin-top: 36px;
    margin-bottom: 0;
}
.icon {
    color: #30a3f0;
    font-size: 60px;

}
.blog {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-gap: 30px;
    margin-top: 60px;
}

.blog-flex {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
    
}
.blog-flex:hover .thumb-blog {
    background-color: rgba(34, 34, 34, 0.5);

}
.blog-flex:hover .blog-eye {
    display: block;
    color: #fff;
    z-index: 1;
}
.blog-eye {
    display: none;

}
.thumb-blog {
    position: relative;
    width: 285px;
    flex-basis: 285px;
    overflow: hidden;
    transition: 0.4s;
}
.thumb-blog::after {
    content: '';
    background-image: url(../img/blogfigur.png);
    width: 20px;
    height: 42px;
    display: block;
    position: absolute;
    right: 0;
    top: 40px;
}
.thumb-blog img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1;
}
.text-blog {
    padding: 45px 37px 50px;
    background-color: #fafafa;
    flex-basis: calc(100% - 285px);
}
.text-blog h3 {
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 600;
    margin-top: 0;
}
.text-blog ul {
    list-style-type: none;
    padding-left: 0;
    text-transform: uppercase;
    color: #444444;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 27px;
}
.text-blog ul > li {
    padding-right: 17px;
    margin-right: 19px;
    border-right: 1px solid #707070;
}
.text-blog ul > li:last-child {
    border-right:none;
    padding-right: 0;
    margin-right: 0;

}
.text-blog ul > li > a {
    color: #444444;
    text-decoration: none;
}
.text-blog p {
    color: #444444;
    line-height: 26px;

}
.text-blog a {
    text-decoration: none;
    color: #30a3f0;
}
.text-blog a span {
    margin-right: 10px;
}
.blog-share {
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: calc(100% - 50px);
    left: 65px;
    text-align: center;
}
.comments {
    margin-right: 10px;
}
.comments,
.like {
    color: #707070;
    height: 30px;
    width: 60px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    transition: 0.4s;
}
.comments:hover,
.like:hover {
    background-color: #30a3f0;
    color: #fff;
    border: none;
}
