 header {
    background-image: url(../img/bg.png);
}
.info-item, .info-link{
    color: rgba(255, 255, 255, 0.3);
}

.nav-link {
    color: #444444;
}
.nav-link.active {
    color: #30a3f0;
}

.title p {
    color: #30a3f0;
}
.title h1 {
    color: #fff;
}
.btn {
    color: #30a3f0;
    border: 1px solid #30a3f0;
}
